*{
   padding: 0;
   margin: 0; 
   box-sizing:border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-top: 50px;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    gap:1rem;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.nav-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.nav-flex li{
    font-size : 20px;
    font-weight:300;
    color: #474747;
}
.nav-flex li:hover{
    color: #000000;
    cursor: pointer;
    font-weight: 500;
}
button{
    cursor: pointer;
    font-size : 20px;
    font-weight: 700;
    border-radius : 5px;
}
.nav-flex button{
    color :rgb(254, 254, 254);
    padding: 18.5px 36px;
    background-color: #FD6E0A;
    border: none;
    margin-left: 51px;
}

/* ======================= */
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 100px;
}
.hero-text h1 span{
    font-weight: 600;
    font-size : 45px;
    color :#474747;
    margin-bottom: 5px;
}
.hero-text{
    max-width : 585px;
}
.hero-text h1{
    font-size : 85px;
    font-weight: 750;
    color :#000000;
    margin-bottom: 20px;
}
.hero-text p{
    font-size : 18px;
    font-weight : 300;
    color :#474747;
    max-width : 559px;
}
.hero-buttons{
    margin-top: 30px;
}
.hero-buttons1{
    padding : 18px 17px;
    border: none;
    color : #ffffff;
    background-color: #FD6E0A;
    margin-right: 30px;
}
.hero-buttons2{
    padding : 18px 24px;
    border: 2px solid #FD6E0A;
    color : #FD6E0A;
    background-color: transparent;
}

i{
    margin-right: 8px;
    font-size: 18px;
    vertical-align: middle;
}
.hero-image{
    position: relative;
    right: -30px;
    width: 400px;
    overflow-x:  hidden;
}
.hero-banner{
    position: absolute;
    width: 835px;
    height: 518px;
    bottom: 5px;
    left: -150px;
    z-index: -1;
    transform: translateX(1000px);
    
}
/* ===============About section================ */
.about{
    margin-top:130px;
}
.about article{
    background-color:#FFF8F3;
    padding-top:130px;
    
}
.about article h2{
    width:100%;
    font-size:38px;
    font-weight:700;
    text-align:center;
} 
.about article .p1{
    width:800px;
    font-size:18px;
    font-weight:300;
    text-align:center;
    margin: 0 auto;
    margin-top:30px;
} 
.about article h6{
    
    font-size:20px;
    font-weight:300;
    text-align:center;
    margin: 0 auto;
} 
.about article .p2{
    
    font-size:20px;
    font-weight:700;
    text-align:center;
    margin: 0 auto;
} 
.about .about-flex{
    display: flex;
    justify-content:space-between;
    align-items:center;
    margin:0 auto;
    max-width:782px;
    margin-top:30px;
    padding-bottom:132px;
}

/* ======================What I do=============== */
.I-do{
    margin-top: 130px;  
}
.I-do h2{
    font-size:35px;
    font-weight:700;
    width: fit-content; 
    margin:0 auto;
    margin-bottom:30px;
}
.I-do .p1{
    font-size:18px;
    font-weight:300;
    max-width: 800px; 
    margin:0 auto;
    text-align: center;
    margin-bottom:30px;
}
.I-do h5{
    font-size:20px;
    font-weight:700;
    margin-bottom:30px;
    margin-top:30px;
}
.I-do .p2{
    font-size:16px;
    font-weight:300;
    max-width: 200px; 
    margin-bottom:30px;
}
.I-do .flex{
    margin-top:30px;
    display : flex;
    justify-content:space-between;

    background-color:#FFFFFF;
}
.I-do .box{
      border-radius:5px;
        padding: 30px;
       box-shadow: 2px 3px 10px 5px rgba(0,0,0,0.75);
}

